#
# Copyright (C) 2024  FreeIPA Contributors see COPYING for license
#

dbus-python
python-ldap
django
django-scim2
django-extensions
django-oauth-toolkit
python-pam
six
# admin/domains endpoint
djangorestframework
markdown
django-filter
