#
# Copyright (C) 2022  FreeIPA Contributors see COPYING for license
#

django
django-scim2
django-extensions
django-oauth-toolkit
python-pam
# admin/domains endpoint
djangorestframework
markdown
django-filter
